

<a routerLink="./"> Home</a> /

<a routerLink="/promociones"> Promociones</a> /

<a routerLink="/contacto"> Contacto</a>

<div>
  <h1>
    Welcome to {{ title }}!
  </h1>

  <router-outlet></router-outlet>

<div class="grilla">
  <app-tarjeta
  [categoria] = "categoria1"
  [precio] = "precio1"
  >  </app-tarjeta>

  <app-tarjeta
  [categoria] = "categoria2"
  [precio] = "precio2"
  >  </app-tarjeta>

  <app-tarjeta
  [categoria] = "categoria3"
  [precio] = "precio3"
  > </app-tarjeta>



</div>


  <p>Soy un párrafo de app.component</p>
  <app-titulo [titulo]="titulo1" [subtitulo] = "subtitulo1"></app-titulo>
  <app-titulo [titulo]="titulo2" [subtitulo] = "subtitulo2"></app-titulo>
  <img src="assets/gatito.jpg" alt="Gatito">
   
</div>



